﻿@model Mushrooms.Models.ReportViewModel

@{
    ViewData["Title"] = "Dodaj doniesienie";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="CreateReport" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input asp-for="lat" class="form-control" />
                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lng" class="control-label"></label>
                <input asp-for="lng" class="form-control" />
                <span asp-validation-for="lng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vivodeship" class="control-label"></label>
                <select asp-for="Vivodeship" required
                        asp-items="@(new SelectList(Model.Vivodeship, "Vivodeship"))">
                    <option selected disabled>Wybierz województwo </option>
                </select>
                <span asp-validation-for="Vivodeship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input"/>
                    <label asp-for="Photo" class=" custom-file-label"> Wybierz plik...</label>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="FieldAccepted">
                <label class="form-check-label" asp-for="FieldAccepted">Zapoznałem się z regulaminem.</label>
                <span asp-validation-for="FieldAccepted"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do doniesień</a>
</div>

