﻿@model IEnumerable<Mushrooms.Models.Report>
@{
    ViewData["Title"] = "Doniesienia";
    
}

<div class="text-center">
    <h1>Raporty</h1>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="border border-info" style="padding:10px">
                <p><b>Aktualne wyniki</b></p>
                <p>@DateTime.Now</p>
            </div>
            <br />
            <a class="btn btn-primary" asp-action="CreateReport" asp-controller="Reports">Dodaj nowy </a>
        </div>
        <div class="col-sm-8">
            <div>
                <div class="container mt-3">
                    <form asp-controller="Reports" asp-action="SortByVivodeship" method="post">
                    @Html.DropDownList("Vivodeship", new SelectList(ViewBag.Vivo), "Wybierz")
                        <button class="btn-info" type="submit">Sortuj</button>
                    </form>
                    <p>Strona przedstawia aktualne zgłoszenia użytkowników:</p><br>
                    @foreach (var item in Model)
                    {
                        var photo = "images/" + (item.photoPath ?? "noname.jpg");
                        <div class="media border p-3" style="background-color:white; opacity:0.9">
                            <img src="@photo"  class="mr-3 mt-3 card-img-top" style="width:200px;">
                            <div class="media-body">
                                <h4>@item.User.Username <small><i>Zgłoszono dnia @item.Date</i></small></h4>
                                <b><p>@item.Title</p></b>
                                <p>@item.Description</p>
                                <p>@item.Vivodeship</p>
                            </div>
                        </div>
                        <br />
                    }

                </div>

            </div>
        </div>

    </div>
</div>



