﻿@model IEnumerable<Mushrooms.Models.Report>
@{
    ViewData["Title"] = "Profil";
}
<div class="alert-success"> <h4>Twoje osiągnięcia</h4></div>
<ul>
@foreach(var View in ViewBag.Titles)
{
<li>@View</li>
}
</ul>
<div class="bg-info p-1 text-white"><h4>Twoja historia</h4></div>
<table class=" table table-sm table-bordered">
    <tr><th>ID</th><th>Tytuł</th><th>Opis</th><th>Data dodania</th><th></th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3">Nie znaleziono raportów do wyświetlenia.</td></tr>
    }
    else //background-color: #1f8252
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.ReportID</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Date</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.ReportID" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Usuń</button>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ReportID">Edytuj</a>
                    </form>
                </td>
            </tr>
        }
    }
</table>


