﻿@model WebApplication1.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Logowanie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit">Zaloguj</button>
        </form>
    </div>
</div>



