﻿@model WebApplication1.Models.CreateUserModel

@{
    ViewData["Title"] = "Rejestracja";
}

<h1>Rejestracja</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa użytkownika</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Adres e-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Hasło</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmed" class="control-label">Powtórz hasło</label>
                <input asp-for="PasswordConfirmed" class="form-control" type="password" />
                <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Zarejestruj się" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anuluj</a>
</div>

