﻿@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="text-center">
    <h1>Witaj na stronie głównej!</h1>
    <h2>Dzisiaj jest @DateTime.Now.</h2>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-2">
              
        </div>
        <div class="col-sm-8">
            
        </div>

    </div>
</div>

