﻿
@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>


<p>
    Dane osobowe to informacje dotyczące określonej lub możliwej do zidentyfikowania osoby fizycznej lub prawnej.

    Nie udostępniamy Państwa danych osobom trzecim, chyba że zobowiązują nas do tego przepisy prawa lub otrzymaliśmy od Państwa na to zgodę.
    Na naszej stronie internetowej stosujemy tzw. pliki „cookie”.
    Zastrzegamy sobie prawo do wprowadzania zmian do niniejszej polityki prywatności. Zmiany są publikowane na niniejszej stronie internetowej.
</p>

