﻿@model IEnumerable<Mushrooms.Models.Place>

@{
    ViewData["Title"] = "Widok Mapy";
}

<title>@ViewData["Title"]</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<fieldset>
    <legend style="font-family: 'Segoe UI'; color: rgb(73,171,210); font-size: large;">Widok dla raportów</legend>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div id="googleMap" style="height:500px;width:100%;"></div>
    <script>
        var markers =@Html.Raw(ViewBag.Markers);
        +66/1

        @*function myMap() {
            var myCenter = new google.maps.LatLng(@ViewBag.Lan , @ViewBag.Len);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }*@
        function AddSomeRandomMarkers() {

            var options = {
                zoom: 8,
                center: new google.maps.LatLng(49.8, 21.1), 
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                mapTypeControl: false
            };

            // inicjalizacja mapy
            var map = new google.maps.Map(document.getElementById('googleMap'), options);

            var markersX = [];
             //ustawienie 
            for (var i = 0; i < markers.length; i++) {
                // init markers
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(markers[i].lat, markers[i].lng),
                    map: map,
                    title: 'Kliknij aby poznać szczegóły!' 
                });

                markersX.push(marker);
                // opisy dla dodawanych znaczników
                (function (marker, i) {

                    // dodanie evenu na click
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow = new google.maps.InfoWindow({
                            content: markers[i].info
                        });
                        infowindow.open(map, marker);
                    });
                })(marker, i);
            }
            
                var markerCluster = new MarkerClusterer(map, markersX,
                    { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
         
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuXfD40d0mvS29nMpQHBcR2CaWVT9fPhQ&callback=AddSomeRandomMarkers"></script>
</fieldset>
<footer>
    <p style="background-color: rgb(73,171,210); font-weight: bold; color:white; text-align: center;height:50px; padding-top:15px">© @DateTime.Now.ToLocalTime()</p>
</footer>
