﻿
@{
    ViewData["Title"] = "Statystyki";
}
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" integrity="sha256-nZaxPHA2uAaquixjSDX19TmIlbRNCOrf5HO1oHl5p70=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<h1>Statystyki</h1>
<div>
    <canvas style ="background-color:floralwhite" id="myChart"></canvas>

</div>
    <script>
        var numbersVivodeships= @Html.Raw(ViewBag.MyStats);
         var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
        "type": "horizontalBar",
                "data": {
                    "labels": [numbersVivodeships[0].name, numbersVivodeships[1].name, numbersVivodeships[2].name,
                        numbersVivodeships[3].name,
                        numbersVivodeships[4].name,
                        numbersVivodeships[5].name,
                    numbersVivodeships[6].name,
                    numbersVivodeships[7].name,
                    numbersVivodeships[8].name,
                    numbersVivodeships[9].name,
                    numbersVivodeships[10].name,
                    numbersVivodeships[11].name,
                    numbersVivodeships[12].name,
                    numbersVivodeships[13].name,
                    numbersVivodeships[14].name,
                    numbersVivodeships[15].name],
        "datasets": [{
            "label": "Liczba zgłoszeń",
            "data": [numbersVivodeships[0].countedNumber,
                numbersVivodeships[1].countedNumber,
                numbersVivodeships[2].countedNumber,
                numbersVivodeships[3].countedNumber,
                numbersVivodeships[4].countedNumber,
                numbersVivodeships[5].countedNumber,
                numbersVivodeships[6].countedNumber,
                numbersVivodeships[7].countedNumber,
                numbersVivodeships[8].countedNumber,
                numbersVivodeships[9].countedNumber,
                numbersVivodeships[10].countedNumber,
                numbersVivodeships[11].countedNumber,
                numbersVivodeships[12].countedNumber,
                numbersVivodeships[13].countedNumber,
                numbersVivodeships[14].countedNumber,
                numbersVivodeships[15].countedNumber
            ],
        "fill": false,
        "backgroundColor": ["rgba(255, 99, 132, 0.7)", "rgba(255, 159, 64, 0.7)",
        "rgba(255, 205, 86, 0.7)", "rgba(75, 192, 192, 0.7)", "rgba(54, 162, 235, 0.7)",
        "rgba(153, 102, 255, 0.7)", "rgba(201, 203, 207, 0.7)","rgba(255, 99, 132, 0.7)", "rgba(255, 159, 64, 0.7)",
        "rgba(255, 205, 86, 0.7)", "rgba(75, 192, 192, 0.7)", "rgba(54, 162, 235, 0.7)",
        "rgba(153, 102, 255, 0.7)", "rgba(201, 203, 207, 0.7)","rgba(255, 99, 132, 0.7)", "rgba(255, 159, 64, 0.7)"
        ],
        "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
        "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)","rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
        "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)","rgb(255, 99, 132)", "rgb(255, 159, 64)"
        ],
        "borderWidth": 1
        }]
        },
        "options": {
        "scales": {
        "xAxes": [{
        "ticks": {
        "beginAtZero": true
        }
        }]
        }
        }
        });
    </script>
   


