﻿@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Admin";
}

<div class="bg-primary p-1 text-white"><h4>Konta użytkowników</h4></div>
<table class=" table table-sm table-bordered">
    <tr><th>ID</th><th>Nazwa użytkownika</th><th>Adres e-mail</th><th></th></tr>
    @if(Model.Count() == 0)
    {
        <tr><td colspan="3">Nie znaleziono kont użytkowników do wyświetlenia.</td></tr>
    }
    else //background-color: #1f8252
    {
        foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Usuń</button>

                    </form>
                </td>
            </tr>
        }
    }
</table>



